<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name=description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Dashboard</title>
</head>
<body>
	<div *ngIf="user">
		<h2 class="page-header">Welcome back {{user.name}}.</h2>

		<a class="btn btn-primary" target="_top" [routerLink]="['/profile']">View my profile</a>

		<p><br>Stay tuned for more updates!</p>

		<!--
		<Legend><br></Legend>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Instructor Comments&nbsp;&nbsp;<span class="glyphicon glyphicon-comment" aria-hidden="true"></span></h3>
			</div>
			<div class="panel-body">
				{{user.generalComments}}
			</div>
		</div>
		-->
	</div>
</body>
