<h2 class="page-header">Dashboard</h2>
<a class="btn btn-primary" [routerLink]="['/profile']">Go to your profile</a>
<p><br>Thank you for creating an account, stay tuned for more updates!</p>

<div id="footer">
	<div class ="btn-group btn-group-justified">
	<a class="btn btn-default" target="_top" [routerLink]="['/after-school']">After School</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/english-witing']">English Writing</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
	</div>
</div>
