<div *ngIf="user">
	<h2 class="page-header">Welcome back {{user.name}}.</h2>
</div>
	<a class="btn btn-danger" target="_top" [routerLink]="['/profile']">View my profile</a>
	<p><br>Stay tuned for more updates!</p>
	<!--
	 <div id="footer">
	 <div class ="btn-group btn-group-justified">
	 <a class="btn btn-default" target="_top" [routerLink]="['/after-school']">After School</a>
	 <a class="btn btn-default" target="_top" [routerLink]="['/english-witing']">English Writing</a>
	 <a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
	 <a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
	 <a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
	 </div>
	 </div>-->
