<Legend>Introduction to Programming</Legend>
<p>Introduction to Programming Description</p>
<br><br><br><br><br>
<Legend>Chess</Legend>
<p>Chess Description</p>
<br><br><br><br><br>
<Legend>Art</Legend>
<p>Art Description</p>
<br><br><br><br><br>
<div class ="btn-group btn-group-justified">
	<a class="btn btn-default" target="_top" [routerLink]="['/after-school-care']">After School Care</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/englis-writing']">English Writing</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
</div>
<br>
