<h2 class="page-header">Chess</h2>
<p>Chess Description</p>
<br><br><br><br><br>
<h2 class="page-header">Introduction to Programming</h2>
<p>Introduction to Programming Description</p>
<br><br><br><br><br>
<h2 class="page-header">Art</h2>
<p>Art Description</p>
<br><br><br><br><br>
<div class ="btn-group btn-group-justified">
	<a class="btn btn-default" target="_top" [routerLink]="['/after-school']">After School</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/englis-writing']">English Writing</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
</div>
<br>
