<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Enrichment Programs</title>
</head>
<body>
	<h2 class="page-header">Chess</h2>
	<h3>Instructor: Albert Rich</h3>
	<ul>
		<li>USCF National Master 2004</li>
		<li>Peak Rating 2289</li>
		<li>USCF Life Member</li>
		<li>USCF Certified Chess Coach 2004</li>
		<li>1993 US Junior Open 19 year old Champion</li>
		<li>Former Top 50 in US for age group</li>
		<li>Twice West Valley H.S. Chess League MVP</li>
		<li>4 Time Kolty Chess Club Champion</li>
		<li>Kolty Club Blitz Champion</li>
		<li>=1st 2004 Stamer Memorial</li>
		<li>First Place in many other tournaments</li>
		<li>3rd 2005 US under 50 Championship</li>
		<li>Former #1 ranked human on USCL, USCF's official Internet Chess Server</li>
		<li>Several students ranked in US top 100 list </li>
		<li>USCF certified Tournament Director</li>
		<li>Over 100 tournaments directed</li>
		<li>Teaching chess to children since 2003</li>
	</ul>
	<p>Contact Information:</p>
	<a href="tel:1-408-348-9658">(408)348-9658</a>
	<br>
	<a href="mailto:albertjrich@yahoo.com" target="_top">albertjrich@yahoo.com</a>
	<br>
	<h2 class="page-header">Introduction to Programming</h2>
	<p>Under construction</p>
	<br><br><br><br><br>
	<h2 class="page-header">Art</h2>
	<p>Not currently offered</p>
	<br><br><br><br><br>
</body>

