<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>English Writing</title>
</head>
<body>
	<h2 class="page-header">English Writing</h2>
	<h5>New Teaching Strategies for the 2018-2019 School Year</h5>
	<p>Hello Parents and Students!</p>
	<p>In my English writing class this year, I am using some new and creative ideas to stimulate students to think more deeply about text that they read, to participate with more vigor during discussions, and eventually, to lead their own discussion regarding ideas and concepts that come up in the reading.
		Some of the strategies I will use are</p>
		<ol>
			<li>Socratic seminar, which is an activity designed to stimulate deeper, more philosophical thinking about complex issues.</li>
			<li>Town Hall Circle, which is a group activity designed to help students see different perspectives on an issue.</li>
			<li>Café Conversations, in which each student plays a role of a given character in a fictional or non-fiction story.</li>
			<li>Text to Self, Text to Text, and Text to World, a writing and discussion activity that helps students make connections between what they are reading in this class with what they are reading in other classes, and to think more deeply about what they are reading.</li>
			<li>“Keep it or Junk it”, which is a discussion-based, note-taking strategy that will help students write better essays.</li>
		</ol>
		<p>I will try out each of these activities and then repeat the activities that are the most popular and successful.  Also, in each of these exercises, students will be challenged to become directly involved with the text by reading text, answering questions about it, and then participating in various types of speaking and listening activities during class.  Also, the writing assignment for each week will be closely related to these exercises.     I look forward to the opportunity to use these new ideas in class this year!!!</p>
		<p>Sincerely,</p>
		<p>Michael N. Merrick (Mr. Mike)</p>

		<hr>

		<p>My program has two main emphases:</p>
		<p>Learn by Doing and Variety.</p>

		<p>What I mean by Learn by Doing is that since all writing is creative and subjective, I stimulate students' minds with student-friendly topics, give them a simple format to follow, and tell them to write. I do offer students ways to improve their writing, but I don't expect them to write exactly the same way as I do because I want  students' writing to grow organically and not artificially. It's a slow process but it happens. I'm also a big believer in re-writes. They are important,  not just to make an essay polished and complete, but for students' self-confidence.</p>

		<p>As far as Variety, I like to give students different types of assignments, such as reading comprehension, vocabulary and grammar. Reading comprehension is important because many studies have shown that one of the best ways to improve student writing is to read professional writing - both fiction and non-fiction-regularly.  Knowing this, I search out compelling stories for students to read so that they absorb a great writer's unique writing style. I am also using  new writing exercises this year that will push students to write with better sentence variety and better paragraph coherence and flow.  Vocabulary development is also very important; I expect students to complete at least one vocabulary chapter per week.  Last, I also assign periodic grammar exercises because students don't receive enough grammar instruction in school and knowledge of the rules of  grammar is a very important part of creating well-written essays.</p>
		<p>I hope this helps you understand my program better.</p>
		<p>Sincerely,</p>
		<p>Michael N. Merrick (Mr. Mike)</p>
		<br>
		<Legend>Summer English Literacy Enrichment Program (June 12, 2019 to August 10, 2019)</Legend>

		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
				</tr>
				<tr>
					<td>Grades: 9, 10<br>Time: 3:30-5:30pm</td>
					<td>Grades: 8, 9, 10<br>Time: 3:30-5:30pm</td>
					<td>Grades: 5, 6<br>Time: 3:30-5:30pm</td>
					<td>Grades: 6, 7<br> Time: 2:00-4:00pm</td>
				</tr>
				<tr>
					<td>Grades: 6, 7, 8<br> Time: 5:30-7:30pm</td>
					<td>Grades: 3, 4<br> Time: 5:30-7:30pm</td>
					<td>Grades: 7, 8<br> Time: 5:30-7:30pm</td>
					<td>SAT<br>Time: 4:00-6:00pm</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>Grades: 9, 10<br>Time: 6:00-8:00pm</td>
				</tr>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th width="200px">Weeks of Instruction</th>
				</tr>
				<tr>
					<td>Week 1</td>
					<td>June 12</td>
					<td>June 13</td>
					<td>June 14</td>
					<td>June 15</td>
				</tr>
				<tr>
					<td>Week 2</td>
					<td>June 19</td>
					<td>June 20</td>
					<td>June 21</td>
					<td>June 22</td>
				</tr>
				<tr>
					<td>Week 3</td>
					<td>June 26</td>
					<td>June 27</td>
					<td>June 28</td>
					<td>June 29</td>
				</tr>
				<tr>
					<td><del>Week 4</del></td>
					<td><del>July 3</del></td>
					<td><del>July 4</del></td>
					<td><del>July 5</del></td>
					<td><del>July 6</del></td>
				</tr>
				<tr>
					<td><del>Week 5</del></td>
					<td><del>July 10</del></td>
					<td><del>July 11</del></td>
					<td><del>July 12</del></td>
					<td><del>July 13</del></td>
				</tr>
				<tr>
					<td>Week 6</td>
					<td>July 17</td>
					<td>July 18</td>
					<td>July 19</td>
					<td>July 20</td>
				</tr>
				<tr>
					<td>Week 7</td>
					<td>July 24</td>
					<td>July 25</td>
					<td>July 26</td>
					<td>July 27</td>
				</tr>
				<tr>
					<td>Week 7</td>
					<td>July 31</td>
					<td>Aug 1</td>
					<td>Aug 2</td>
					<td>Aug 3</td>
				</tr>
				<tr>
					<td>Week 8</td>
					<td>Aug 7</td>
					<td>Aug 8</td>
					<td>Aug 9</td>
					<td>Aug 10</td>
				</tr>
			</table>
		</div>
		<p><b>Note: </b>There is no class if the week is <del>crossed out</del>. Click <a target="_top" [routerLink]="['/contact']">here</a> to get in touch with us today!</p>
		<!--
		If using PDFs
		<div style="width: 100%; height: 1400px">
		<ng2-pdfjs-viewer pdfSrc="../../pdfjs/web/TestPDF.pdf">Test</ng2-pdfjs-viewer>
		</div>
		-->
<br><br><br>
</body>
