<!DOCTYPE HTML>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and muuch more! Learn more now!"/>
	<title>Contact Us</title>
	<form class="form-horizontal">
		<fieldset>
			<h2 class="page-header">Contact Us</h2>

			<!--
	   <div class="form-group">
	   <label for="firstName" class="col-lg-2 control-label">Parent's First Name</label>
	   <div class="col-lg-10">
	   <input type="text" class="form-control" id="firstName" placeholder="Parent's First Name">
	   </div>
	   </div>
	   <div class="form-group">
	   <label for="lastName" class="col-lg-2 control-label">Parent's Last Name</label>
	   <div class="col-lg-10">
	   <input type="text" class="form-control" id="lastName" placeholder="Parent's Last Name">
	   </div>
	   </div>
	   <div class="form-group">
	   <label for="email" class="col-lg-2 control-label">Email</label>
	   <div class="col-lg-10">
	   <input type="text" class="form-control" id="email" placeholder="Email">

	   <div class="checkbox">
	   <label>
	   <input type="checkbox">
	   </label>
	   </div>
	   </div>
	   </div>
	   <div class="form-group">
	   <label for="textArea" class="col-lg-2 control-label">Questions?</label>
	   <div class="col-lg-10">
	   <textarea class="form-control" rows="3" id="textArea"></textarea>
	   </div>
	   </div>
	   <div class="form-group">
	   <div class="col-lg-10 col-lg-offset-2">
	   <button type="reset" class="btn btn-default">Cancel</button>
	   <button type="submit" class="btn btn-primary">Submit</button>
	   </div>
	   </div>
			-->
			<iframe src="https://docs.google.com/forms/u/0/d/e/1FAIpQLSecWLYKxqpHcrC0a0htLyugwrJxuLUD_X-Xi4Xp6A5DWRXdnw/viewform?embedded=true" width=100% height="1700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</fieldset>
	</form>

	<div id="footer">
	<div class ="btn-group btn-group-justified">
		<a class="btn btn-default" target="_top" [routerLink]="['/after-school']">After School</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/english-writing']">English Writing</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
	</div>
	</div>
