<div *ngIf="user">
	<h2 class="page-header">Welcome back {{user.name}}.</h2>
	<!--
	 <ul class="list-group">
	 <li class="list-group-item">Username: {{user.username}}</li>
	 <li class="list-group-item">Email: {{user.email}}</li>
	 </ul>
	-->
	<h6><p>Username: {{user.username}}</p></h6>
	<h6><p>Email: {{user.email}}</p></h6>
	
	<br>

	<legend>Legend</legend>
	<h6>Incomplete = I</h6>
	<h6>Complete and of Acceptable/Good Quality = C</h6>
	<h6>Complete and of Excellent Quality = C*</h6>
	<h6>Not Turned In = NTI</h6>
	<h6>Not Assigned = NA</h6>
	<br>
	<b>Note:</b>
	<p>For Reading Comprehension, the story number assigned will match the week number.</p>
	<p>For Vocabulary, each student works at his/her own pace, so parents will need to check with the teacher if there are missing vocabular assignments.</p>
	<p>For Essay, essays are assigned periodically and not weekly due to the need for re-writes. Therefore, a "C" indicates that either a first draft or later draft was turned in.</p>
	<p>Also, essays are often broken up into two parts, and only one part is due each week.</p>
	<p>For Grammar, assignments are assigned at most every other week.</p>

	<legend><br>Grades</legend>
	<table>
		<tr>
			<th>Week No.</th>
			<th>Reading Comprehension</th>
			<th>Vocabulary</th>
			<th>Essay</th>
			<th>Grammar</th>
		</tr>
		<tr>
			<td>Week 1</td>
			<td>{{user.rc1}}</td>
			<td>{{user.v1}}</td>
			<td>{{user.e1}}</td>
			<td>{{user.g1}}</td>
		</tr>
		<tr>
			<td>Week 2</td>
			<td>{{user.rc2}}</td>
			<td>{{user.v2}}</td>
			<td>{{user.e2}}</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Week 3</td>
			<td>{{user.rc3}}</td>
			<td>{{user.v3}}</td>
			<td>{{user.e3}}</td>
			<td>{{user.g3}}</td>
		</tr>
		<tr>
			<td>Week 4</td>
			<td>{{user.rc4}}</td>
			<td>{{user.v4}}</td>
			<td>{{user.e4}}</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Week 5</td>
			<td>{{user.rc5}}</td>
			<td>{{user.v5}}</td>
			<td>{{user.e5}}</td>
			<td>{{user.g5}}</td>
		</tr>
		<tr>
			<td>Week 6</td>
			<td>{{user.rc6}}</td>
			<td>{{user.v6}}</td>
			<td>{{user.e6}}</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Week 7</td>
			<td>{{user.rc7}}</td>
			<td>{{user.v7}}</td>
			<td>{{user.e7}}</td>
			<td>{{user.g7}}</td>
		</tr>
		<tr>
			<td>Week 8</td>
			<td>{{user.rc8}}</td>
			<td>{{user.v8}}</td>
			<td>{{user.e8}}</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Week 9</td>
			<td>{{user.rc9}}</td>
			<td>{{user.v9}}</td>
			<td>{{user.e9}}</td>
			<td>{{user.g9}}</td>
		</tr>
		<tr>
			<td>Week 10</td>
			<td>{{user.rc10}}</td>
			<td>{{user.v10}}</td>
			<td>{{user.e10}}</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Week 11</td>
			<td>{{user.rc11}}</td>
			<td>{{user.v11}}</td>
			<td>{{user.e11}}</td>
			<td>{{user.g11}}</td>
		</tr>
		<tr>
			<td>Week 12</td>
			<td>{{user.rc12}}</td>
			<td>{{user.v12}}</td>
			<td>{{user.e12}}</td>
			<td>NA</td>
		</tr>
	</table>
	<br><br><br>
</div>
