p.s, li.s, strong.s, b.s, Legend.s{
	font-size: 110%;
}

th {
	text-align: center;
	height: 50px;
}
td, th{
	padding: 10px;
	text-align: center;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #f5f5f5}
