<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Join Our Team Today!</title>
</head>
<body>
	<h2 class="page-header">Join Our Team Today!</h2>
	<p>At Light of Knowledge Academy, we are always seeking talented instructors to come work with us. We currently have one open position:<p>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Instructor</h3>
				</div>
				<div class="panel-body">
					<strong>Job Description</strong>
					<ul class="s">
						<li>You will be working with middle school students to help them understand and complete homework</li>
						<li>The ideal candidate should also be able to teach Middle School Math and English</li>
						<li>The ideal candidate is self-motivated and encourages their students to do the same</li>
						<li>Hours are from 3:30pm to 6:30pm</li>
					</ul>
				</div>
			</div>
		<p>Interested? Send us your application at <a href="mailto:info.lkastaff@gmail.com" target="_top">info.lkastaff@gmail.com</a>, and we look forward to hearing from you!</p>
	</body>
