<!DOCTYPE HTML>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Join Our Team Today!</title>
	<h2 class="page-header">Join Our Team Today!</h2>
	<h4>At Light of Knowledge Academy, we are always seeking talented instructors to come work with us. We currently have one open position:</h4>
	<h5 class="tab"><b>Instructor</b></h5>
	<p class="tab">You will be working with middle school students to help understand and complete homework</p>
	<p class="tab">The ideal candidate should also be able to teach Middle School Math and English</p>
	<p class="tab">Hours are from 3:30pm to 6:30pm</p>
	<p class="tab">The ideal candidate is self-motivated and encourages their students to do the same</p>
	
	<h4>Interested? Send us your application at <a href="mailto:info.lkastaff@gmail.com" target="_top">info.lkastaff@gmail.com</a>, and we look forward to hearing from you!</h4>

