ul.s{
	font-size: 110%;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen
and (min-width : 1024px) {
	#info-box {
		height: 450px;
	}
	#images{
		width:265px;
		height:180px;
	}
}
.panel > .panel-heading {
    background-color: #00008B;
    color: white;
}
