<!DOCTYPE HTML>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Math</title>

	<h2 class="page-header">Math</h2>
	<p>Math Description</p>



	<div id="footer">
	<div class ="btn-group btn-group-justified">
		<a class="btn btn-default" target="_top" [routerLink]="['/after-school']">After School</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/english-writing']">English Writing</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
	</div>
	</div>
