<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Math</title>
</head>
<body>
	<h2 class="page-header">Math</h2>
	<h3>Instructor: Mr. Aaron</h3>
	<p>Math Courses We Offer:</p>
	<ul>
		<li>Geometry</li>
		<li>Algebra II</li>
		<li>Trigonometry</li>
	</ul>
	<p>We also offer other math intensive courses such as AP Physics, AP/Honors Chemistry, and SAT Preparation Courses</p>
</body>
