<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Math</title>
</head>
<body>
	<h2 class="page-header">Math</h2>
	<p class="s">Courses Offered:</p>
	<ul>
		<li class="s">Geometry</li>
		<li class="s">Algebra II</li>
		<li class="s">Trigonometry</li>
	</ul>
	<p class="s">We also offer other math intensive courses such as AP Physics, AP/Honors Chemistry, and SAT Preparation Courses.</p>
</body>
