<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Enrichment Programs</title>
</head>
<body>
	<h2 class="page-header">Enrichment Programs</h2>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Coding Camp</h3>
				</div>
				<div class="panel-body" id="info-box">
					<img class="center" [src]="chesspng" id="images">
					<br>
					<button class="btn btn-success" (click)="scroll(chess)">View Course</button>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">English Literary Enrichment Program</h3>
				</div>
				<div class="panel-body" id="info-box">
					<img class="center" [src]="competitivepng" id="images">
					<br>
					<button class="btn btn-success" (click)="scroll(competitive)">View Course</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Math Camp</h3>
				</div>
				<div class="panel-body" id="info-box">
					<img class="center" [src]="intropng" id="images">
					<br>
					<button class="btn btn-success" (click)="scroll(intro)">View Course</button>
				</div>
			</div>
		</div>
	</div>

	<h2 class="page-header" #chess>Coding Camp</h2>
	<ul class="s">
    <p>You will learn the foundations of software development. We will cover the basics of Python in 7 days</p>
		<li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
	</ul>

	<br>

	<h2 class="page-header" #competitive>English Literary Enrichment Program</h2>
	<ul class="s">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
	</ul>

	<br>

	<h2 class="page-header" #intro>Math Camp</h2>
	<ul class="s">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
		</ul>

				<br><br><br>
			</body>
