#footer {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:auto;
}


@media only screen
and (min-width : 800px) {
	#register-box {
		border: outset 2px;
		width: 60%;
		margin: 0;
		padding: 30px;
	}
}
/*
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
#register-box {
border: outset 2px;
margin: 0;
padding: 30px;
}
}*/
