<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
<title>Home Page</title>

<div class="jumbotron text-center">
	<h1>Light of Knowledge Academy</h1>
	<br>
	<p><a target="_blank" href="https://www.google.com/maps/place/20432+Silverado+Ave,+Cupertino,+CA+95014/@37.3149792,-122.0334717,17z/data=!3m1!4b1!4m5!3m4!1s0x808fb5076a61d76f:0x640ac354a2071531!8m2!3d37.3149792!4d-122.031283">20432 Silverado Ave. Ste. 6 | Cupertino, CA 95014</a>
	<br>Call us at: <a href="tel:4089961236">(408) 996-1236</a> | Text us at: <a href="tel: 4082181698">(408) 218-1698</a>
	<br>Email: <a href="mailto:info.lkastaff@gmail.com" target="_top">info.lkastaff@gmail.com</a> | <a target="_blank" href="http://facebook.com/LOKacademy">Give us a like on our Facebook page!</a></p>

	<div>
		<a class="btn btn-info" target="_top" [routerLink]="['/login']">Login</a>
		<a class="btn btn-primary" target="_top" [routerLink]="['/register']">Register</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
	</div>
</div>
<img [src]="fullImagePath" width="100%">

<!--
	<div class="row">
	<div class="col-md-3">
	<a class="btn btn-default" [routerLink]="['/after-school-care']">After School Care</a>
	</div>
	<div class="col-md-3">
	<a class="btn btn-default" [routerLink]="['/english-writing']">English Writing</a>

	</div>
	<div class="col-md-3">
	<a class="btn btn-default" [routerLink]="['/math']">Math</a>
	</div>
	<div class="col-md-3">
	<a class="btn btn-danger" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
	</div>
	</div>


<div id="footer">
	<div class ="btn-group btn-group-justified">
		<a class="btn btn-default" target="_top" [routerLink]="['/after-school']">After School</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/english-witing']">English Writing</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
		<a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
	</div>
</div>-->
