<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Official website for Light of Knowledge Academy. We offer After School Programs, English Writing, Math Tutoring and much more! Learn more now!"/>
	<title>Home Page</title>
</head>
<body>
	<div class="jumbotron text-center">
		<h1>Light of Knowledge Academy</h1>
		<br>
		<p><a target="_blank" title="Open in Google Maps" href="https://www.google.com/maps/place/Light+Of+Knowledge/@37.3151035,-122.0332689,17z/data=!3m1!4b1!4m5!3m4!1s0x808fb5076a23cba5:0x64257984edd56321!8m2!3d37.3150993!4d-122.0310802">20432 Silverado Ave. Ste. 6 | Cupertino, CA 95014</a>
		<br>Call us at: <a title="Phone" href="tel:4086230752">(408) 623-0752</a>
		<br>Email: <a title="Email" href="mailto:info.lkastaff@gmail.com" target="_top">info.lkastaff@gmail.com</a> | <a target="_blank" title="Open in new tab" href="http://facebook.com/LOKacademy">Give us a like on our Facebook page!</a></p>

		<div>
			<a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="btn btn-default" target="_top" [routerLink]="['/login']">Login</a>
			<a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="btn btn-info" target="_top" [routerLink]="['/register']">Register</a>
			<a class="btn btn-primary" target="_top" title="Join our team today!" [routerLink]="['/join']">Careers</a>
		</div>
	</div>
	<img [src]="fullImagePath" width="100%">
</body>
