<div class="jumbotron text-center">
	<h1>Light of Knowledge Academy</h1>
	<br>
	<p><a href="https://www.google.com/maps/place/20432+Silverado+Ave,+Cupertino,+CA+95014/@37.3149792,-122.0334717,17z/data=!3m1!4b1!4m5!3m4!1s0x808fb5076a61d76f:0x640ac354a2071531!8m2!3d37.3149792!4d-122.031283">20432 Silverado Ave. Ste. 6 | Cupertino, CA 95014</a>
	<br>Call us at: (408) 996-1236 | (408) 564-8133 | Text us at: (408) 218-1698
	<br>Email: <a href="info.lkastaff@gmail.com">info.lkastaff@gmail.com</a> | <a href="http://facebook.com/LOKacademy">Give us a like on our Facebook page!</a></p>
<!--
	<div>
		<a class="btn btn-primary" [routerLink]="['/login']">Login</a>
		<a class="btn btn-default" [routerLink]="['/register']">Register</a>
	</div>
-->
</div>


<div class="row">
	<div class="col-md-4">
		<h3>Summer Camp</h3>

	</div>
	<div class="col-md-4">
		<h3>English Writing</h3>

	</div>
	<div class="col-md-4">
		<h3>Chess Class</h3>

	</div>
</div>
<br><br>
