.horizontal-collapse {
	height: 70px;
}
.navbar-collapse.in {
	overflow-y: hidden;
}

.navbar-nav li a:hover{
  color: white !important;
  background-color:#c1c1ff !important;
}

.navbar-nav > .active > a {
  color: white !important;
  background-color:#3b3b99 !important;
}
