<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Come in today to learn more about our After School Programs!"/>
	<title>After School Program</title>
</head>
<body>
	<h2 class="page-header">After School Program</h2>
	<div class="row">
		<div class="col-md-4">
			<h3><font color="#00008B">Happy and Cheerful Atmosphere</font></h3>
			<p>At Light of Knowledge Academy, we hire the most experienced and caring teachers. In addition to offering optional English, Math, and Chinese class work, we first ensure that students finish homework from school.</p>
		</div>
		<div class="col-md-4">
			<h3><font color="#00008B">The Best of Both Western and Eastern Cultures</font></h3>
			<p>We recognize the importance of building up good life-long habits. Thus, we prioritize our students' abilities to retain good habits. To integrate Western Culture, we cultivate leadership throughout our daily activities. Because of our Eastern influence, we emphasize building students' emotional intelligence.</p>
		</div>
		<div class="col-md-4">
			<h3><font color="#00008B">Individualized Curricula</font></h3><br>
			<p>We offer a 1:10 student to instructor guarantee. Additionally, parents will receive weekly progress reports to monitor their child's progress. We also strive to help students motivate themselves through friendly competitions.</p>
		</div>
	</div>

	<br>

	<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/ESNNlA8vq5U?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
	<br>
</body>
