<!DOCTYPE HTML>
<meta charset="utf-8">
<meta name="description" content="Come in today to learn more about our After School Programs!"/>
<title>After School Program</title>
<h2 class="page-header">After School Program</h2>
<div class="row">
	<div class="col-md-4">
		<h3><font color="#00008B">Happy and Cheerful Atmosphere</font></h3>
		<p><font color="#C70039">At Light of Knowledge Academy, we hire the most experienced and caring teachers. In addition to offering optional English, Math, and Chinese class work, we first ensure that students finish homework from school.</font></p>
	</div>
	<div class="col-md-4">
		<h3><font color="#00008B">The Best of Both Western and Eastern Cultures</font></h3>
		<p><font color="#C70039">We recognize the importance of building up good life-long habits. Thus, we prioritize our students' abilities to retain good habits. To integrate Western Culture, we cultivate leadership throughout our daily activities. Because of our Eastern influence, we emphasize building students' emotional intelligence.</font></p>
	</div>
	<div class="col-md-4">
		<h3><font color="#00008B">Individualized Curricula</font></h3><br>
		<p><font color="#C70039">We offer a 1:10 student to instructor guarantee. Additionally, parents will receive weekly progress reports to monitor their child's progress. We also strive to help students motivate themselves through friendly competitions.</font></p>
	</div>
</div>

<br>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/ESNNlA8vq5U?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
<br>
<!--
<div id="footer">
<div class ="btn-group btn-group-justified">
	<a class="btn btn-default" target="_top" [routerLink]="['/after-school']">After School</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/english-writing']">English Writing</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/math']">Math</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/enrichment-programs']">Enrichment Programs</a>
	<a class="btn btn-default" target="_top" [routerLink]="['/join']">Join Our Team Today!</a>
</div>
</div>-->
